{% extends "homebase.html" %}
{% load static %}
  {% block head %}
    <title>Aranan Filmler</title>
  {% endblock head %}


  {% block icerik %}
  <br><br>
    <div class="kart-grup" >
        <div class="title"> 
          <span class="title-border">
            <h4>Arama Sonuçları</h4>
            <h4>{{aranan}}</h4>
          </span>
          <div class="tumfilmler">
            <a href="{% url 'anasayfa' %}" class="filmarsiv">Tümünü Gör</a>
          </div>
        </div>
      
        {% if filmler %}
            {% for i in filmler %}
            <a class="kart" href="/umosTV/film_detay/{{i.filmSlug}}" data-aos="zoom-out">
                <img src="{{ i.filmPoster.url }}" alt="">
                <div class="kartGovde">
                    <p class="tarih">{{i.yapimYili.year}}</p>
                    <p class="kalite">{{i.kalite}}</p>
                    <h4 class="filmIsim">{{i.filmAdi}}</h4>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <!-- Buraya film bulunamaz ise yazı yazılacak  -->
        {% endif %}
    </div>
    <div  class="pages">
            {% if filmler.has_other_pages %}
                <div class="pagination">
                    {% if filmler.has_previous %}
                        <a  href="?sayfa={{ filmler.previous_page_number }}">&laquo;</a>
                    {% endif %}
                    {% for i in filmler.paginator.page_range %}
                        {% if filmler.number == i %}
                            <a href="?sayfa={{ i }}" class="active">{{ i }}</a>
                        {% else %}
                            <a href="?sayfa={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if filmler.has_next %}
                        <a href="?sayfa={{ filmler.next_page_number }}">&raquo;</a>
                    {% else %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <i class="fas fa-caret-square-down fa-3x" id="kategori_tarih_menu_icon"></i>
    <div id="kategori_tarih_menu">
      <div class="list-group">
        <h5 class="filmtur">Film Türleri</h5>
        <ul class="list-group-ul">
            {% for j in kategoriler %}
              <li class="date-li">
                  <a href="/umosTV/ara/{{j.kategori}}" class="list-group-item list-group-item-action">{{j.kategori}}</a>
              </li>
            {% endfor %}
        </ul>
      </div>
      <!--Date-->
      <div class=" date">
        <h5 class="filmdate">Yıllara Göre Filmler</h5>
        <ul class="date-ul">
        {% for u in tarihler %}
          <li class="date-li ">
            <a href="/umosTV/ara/{{u}}" class="list-group-item ">{{u}}</a>
          </li>
        {% endfor %}
          
          
    
        </ul>
      </div>
    </div>
    <hr>



  {% endblock icerik %}
